ansible=>=2.9.6
Jinja2>=2.8.1
pan-python>=0.10.0
pandevice>=0.3.5
paramiko>=2.1.1
pyasn1>=0.2.2
pycparser>=2.17
pycrypto>=2.6.1
pyparsing>=2.1.10
PyYAML>=3.12
boto>=2.49.0
botocore>=1.12.249
boto3>=1.9.249
pan-os-python>=0.16.0
requests-toolbelt>=0.7.1
requests>=2.13.0
